@import "tailwindcss";
@import "tailwindcss/preflight";

@layer components {
    body {
        padding-left: 1.5rem;
        padding-right: 1.5;
    }

    @media (min-width: 768px) {
        body {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    @media (min-width: 1024px) {
        body {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}