name: Deploy Tailwind Site to Pages

on:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Tailwind
        run: npm install -D tailwindcss

      - name: Ensure node_modules/.bin is in PATH
        run: echo "$(pwd)/node_modules/.bin >> $GITHUB_PATH"

      - name: Build CSS
        run: npx tailwindcss -i ./src/input.css -o ./css/output.css --watch

      - name: Deploy to Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{secrets.GITHUB_TOKEN }}
          publish_dir: ./
